:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --headings-color: #2e2f42;
  --text-color: #434455;
  --primary-white-color: #ffffff;
  --light-mode-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: var(--primary-white-color);
}

/* =========HEADER=========== */

.list {
  list-style: none;
}
.adress {
  font-style: normal;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.logo-accent {
  color: var(--headings-color);
}

.link {
  text-decoration: none;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  color: var(--headings-color);
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: var(--pressed-state-color);
}

.contacts-link {
  font-size: 16px;
  color: var(--text-color);
}

.contacts-link:hover,
.contacts-link:focus,
.contacts-link:active {
  color: var(--pressed-state-color);
}

/* ======HERO========== */

.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.hero {
  background-color: var(--headings-color);
}

.modal-button {
  color: var(--primary-white-color);
  background-color: var(--primary-brand-color);
}

.modal-button:hover,
.modal-button:focus,
.modal-button:active {
  background: var(--pressed-state-color);
}
/* =============FEATURES============= */

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--headings-color);
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings-color);
}

.item-description {
  font-size: 16px;
}

/* ==============TEAM============= */
.team {
  background-color: var(--light-mode-color);
}

.team-list-item {
  background: var(--primary-white-color);
}

/* ==============PORTFOLIO============ */

.filter-button {
  color: var(--primary-brand-color);
  background-color: var(--light-mode-color);
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: var(--primary-white-color);
  background: var(--pressed-state-color);
}

.portfolio-item-description {
  color: var(--text-color);
}

/* =======FOOTER======== */
.footer {
  background-color: var(--headings-color);
}

.footer .logo-accent {
  color: var(--light-mode-color);
}

.footer > p {
  color: var(--light-mode-color);
}
